[Desktop Entry]
Type=Application
Version=1.0
Name=DemandPolandEu
GenericName=OpenCodeBox project terminal
Comment=Open the DemandPolandEu project terminal
Exec=/run/media/hubertg/SONIC/OpenCodeBox/git-projects/DemandPolandEu/box/scripts/DemandPolandEu.sh launch
TryExec=/run/media/hubertg/SONIC/OpenCodeBox/git-projects/DemandPolandEu/box/scripts/DemandPolandEu.sh
Icon=utilities-terminal
Terminal=false
Categories=Development;
